@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 940px;
    margin: auto;
    background: url('../_img/mapa.png') no-repeat;
 
}
h1{
    text-align: center;
    margin: 10px 10px;
}
.botao{
    margin: 50px auto 10px 10px;
}

div#container{
    width: 350px;
    margin: auto;
    padding-left: 100px;
}

div#container2{
 padding: 10px;
 text-align: center;
}

p.itens{
    font-size: 20pt;
}