@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 940px;
    margin: auto;
}
div#div-principal{
    border: 1px solid red;
}

div#container{
    border: 1px solid green;
}
.botao{
    margin: 50px auto 10px 10px;
}
